<div class="flex flex-col gap-2 w-full">
  @if (titolo) {
    <label class="text-sm font-semibold ml-1 transition-colors"
           [class.text-red-600]="haErrore"
           [class.text-slate-700]="!haErrore">
      {{ titolo }}
    </label>
  }

  <div class="relative group cursor-pointer w-full max-w-[500px]"
       [ngClass]="patente ? 'h-40' : 'aspect-[86/54]'">
    <input type="file"
           (change)="onFileChange($event)"
           accept="image/*"
           class="absolute inset-0 w-full h-full opacity-0 cursor-pointer z-10">

    <div
      class="w-full h-full border-2 border-dashed rounded-xl flex flex-col items-center justify-center overflow-hidden transition-all"
      [class.border-red-500]="haErrore"
      [class.bg-red-50]="haErrore"
      [class.border-slate-300]="!haErrore"
      [class.bg-slate-50]="!haErrore"
      [class.group-hover:border-azzurro]="!haErrore">

      @if (anteprimaUrl) {
        <img [src]="anteprimaUrl" class="w-full h-full "
        [ngClass]="patente?'object-cover':'object-contain'"
        >
      } @else {
        <i class="bi-cloud-arrow-up text-3xl transition-colors"
           [class.text-red-400]="haErrore"
           [class.text-slate-400]="!haErrore"
           [class.group-hover:text-blue-500]="!haErrore"></i>

        <span class="text-sm font-medium transition-colors text-center px-2"
              [class.text-red-500]="haErrore"
              [class.text-slate-600]="!haErrore"
              [class.group-hover:text-azzurro]="!haErrore">
          {{ haErrore ? 'Devi selezionare un file' : 'Clicca o trascina una foto qui' }}
        </span>
      }
    </div>
  </div>

  @if (haErrore) {
    <span class="text-xs text-red-500 ml-1 italic animate-in fade-in slide-in-from-left-1">
      {{ messaggioErrore }}
    </span>
  }
</div>
