@if (paginaVisibile) {
  <div
    class="fixed inset-0 z-50 flex items-center justify-center p-4 bg-slate-900/60 backdrop-blur-sm transition-opacity duration-300"
    [class.animate-fade-out]="chiusuraInCorso"
    (click)="chiudiModale()">

    <div
      class="bg-white rounded-3xl shadow-2xl w-full max-w-4xl overflow-hidden animate-fade-in-up relative flex flex-col max-h-[90vh]"
      [class.animate-jump-in]="!chiusuraInCorso"
      [class.animate-jump-out]="chiusuraInCorso"
      (click)="$event.stopPropagation()">

      <button (click)="chiudiModale()"
              class="absolute top-5 right-5 z-10 w-10 h-10 rounded-full bg-white/80 hover:bg-slate-100 flex items-center justify-center text-slate-500 transition-colors shadow-sm border border-slate-100">
        <i class="bi bi-x-lg"></i>
      </button>

      <div class="bg-slate-50 pt-10 pb-0 border-b border-slate-200">
        <div class="px-8 pb-8 flex items-center gap-6">
          <div
            class="w-24 h-24 rounded-2xl bg-white border-2 border-white shadow-lg flex items-center justify-center text-slate-700 font-extrabold text-3xl flex-shrink-0 relative overflow-hidden">
            {{ iniziali }}
          </div>
          <div>
            <div class="flex items-center gap-3 mb-1">
              <h2 class="text-3xl font-extrabold text-slate-900">
                {{ dipendente?.nomeUtente }} {{ dipendente?.cognomeUtente }}
              </h2>
            </div>
            <p class="text-slate-500 text-sm">Dipendente Aziendale</p>
          </div>
        </div>

        <div class="flex px-8 gap-8">
          <button (click)="impostaTab('INFO')"
                  class="pb-4 text-sm font-bold border-b-2 transition-all duration-200"
                  [ngClass]="tabAttiva === 'INFO' ? 'border-azzurro text-azzurro' : 'border-transparent text-slate-500 hover:text-slate-700'">
            <i class="bi bi-person-vcard mr-2"></i> Dati & Documenti
          </button>

          <button (click)="impostaTab('STORICO')"
                  class="pb-4 text-sm font-bold border-b-2 transition-all duration-200"
                  [ngClass]="tabAttiva === 'STORICO' ? 'border-azzurro text-azzurro' : 'border-transparent text-slate-500 hover:text-slate-700'">
            <i class="bi bi-clock-history mr-2"></i> Storico Noleggi
          </button>
        </div>
      </div>

      <div class="p-8 overflow-y-auto custom-scrollbar bg-white max-h-[90vh] min-h-[500px]">

        @if (tabAttiva === 'INFO') {
          <div class="animate-fade-in">

            <h3 class="text-xs font-bold text-slate-400 uppercase tracking-widest mb-4">Informazioni Personali</h3>
            <div class="grid grid-cols-4 md:grid-cols-12 gap-y-6 gap-x-12 mb-10">
              <div class="col-span-6">
                <span class="block text-slate-400 text-xs font-semibold mb-1">Email Aziendale</span>
                <div class="text-slate-800 font-medium text-lg flex items-center gap-2">
                  <i class="bi bi-envelope text-slate-400"></i> {{ dipendente?.email }}
                </div>
              </div>
              <div class="col-span-3">
                <span class="block text-slate-400 text-xs font-semibold mb-1">Data di Nascita</span>
                <div class="text-slate-800 font-medium text-lg">
                  {{ dipendente?.dataNascitaUtente | date:'dd MMMM yyyy' }}
                </div>
              </div>
              <div class="col-span-2">
                <span class="block text-slate-400 text-xs font-semibold mb-1">ID Dipendente</span>
                <div class="text-slate-800 font-medium text-lg font-mono">
                  #{{ dipendente?.idUtente }}
                </div>
              </div>
            </div>

            <div class="bg-slate-50 rounded-2xl p-4 border border-slate-200 relative overflow-hidden">
              <div class="flex justify-between items-start mb-2 ">
                <div>
                  <h3 class="text-lg font-bold text-slate-800 flex items-center gap-2">
                    <i class="bi bi-card-heading text-azzurro"></i> Patente di Guida
                  </h3>
                </div>
                <div
                  class="px-3 py-1 bg-green-100 text-green-700 border border-green-200 rounded-lg text-sm font-bold flex items-center gap-2">
                  <i class="bi bi-check-circle-fill"></i> Verificata
                </div>
              </div>

              <div class="flex flex-col md:flex-row gap-4 items-center">
                <div
                  class="w-full bg-white rounded-xl border border-slate-200 flex items-center justify-center overflow-hidden shadow-sm group cursor-pointer relative">
                  @if (!dipendente?.urlImmagine) {
                    <div class="text-center text-slate-400">
                      <i class="bi bi-image text-4xl mb-2 block"></i>
                      <span class="text-sm">Nessuna scansione caricata</span>
                    </div>
                  } @else {
                    <img [src]="dipendente?.urlImmagine"
                         class="relative group cursor-pointer w-full max-w-[500px] aspect-[86/54] object-contain">
                  }
                </div>
              </div>
            </div>
          </div>
        }

        @if (tabAttiva === 'STORICO') {
          <div class="animate-fade-in">

            <div class="flex justify-between items-center mb-6">
              <h3 class="text-lg font-bold text-slate-800">Storico Viaggi</h3>
              <span
                class="px-3 py-1 bg-slate-100 text-slate-600 rounded-full text-xs font-bold border border-slate-200">
                {{ storicoNoleggi?.length }} Noleggi Totali
              </span>
            </div>

            @if (storicoNoleggi?.length === 0) {
              <div class="pt-10">
                <app-messaggio-card-vuota
                  testoPrimario="Nessun noleggio effettuato finora."
                  testoSecondario="Prova a passare tra qualche giorno"
                  icona="bi-car-front"
                ></app-messaggio-card-vuota>
              </div>
            } @else {
              <div class="overflow-x-auto rounded-xl border border-slate-200 px-2">
                <table class="table-base">
                  <thead class=" bg-white sticky top-0 z-20">
                  <tr class="tr-superiore">
                    <th class="px-6 py-4 font-bold tracking-wider">Veicolo</th>
                    <th class="px-6 py-4 font-bold tracking-wider">Data Inizio</th>
                    <th class="px-6 py-4 font-bold tracking-wider">Data Fine</th>
                    <th class="px-6 py-4 font-bold tracking-wider text-center">Stato</th>
                    <th class="px-6 py-4 font-bold tracking-wider text-center">Costo</th>
                  </tr>
                  </thead>
                  <tbody class="divide-y divide-slate-100">
                    @for (noleggio of storicoNoleggi; track noleggio.idRichiesta) {
                      <tr class="tr-inferiore group ">
                        <td class="td-sinistro">
                          {{ noleggio.idVeicolo }}
                        </td>

                        <td class="td-base">
                          {{ noleggio.dataRitiro | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td class="td-base">
                          {{ noleggio.dataConsegna | date:'dd/MM/yyyy HH:mm' }}
                        </td>

                        <td class="td-base">
                          @if (noleggio.statoRichiesta === 'In corso') {
                            <app-icona-stato testo="In corso"></app-icona-stato>
                          } @else if (noleggio.statoRichiesta === 'Da ritirare') {
                            <app-icona-stato testo="Auto da ritirare" stato="giallo"></app-icona-stato>
                          } @else {
                            <app-icona-stato testo="Terminata" stato="rosso"></app-icona-stato>
                          }
                        </td>

                        <td class="td-destro ">
                          {{ noleggio.costoNoleggio | number:'1.2-2' }} €
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>

            }
          </div>

        }
      </div>
    </div>
  </div>
}
