.titolo{
  font-weight: bold;
  font-size: 25pt;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}

.form-riga{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}
input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}


input:hover, select:hover {
  border-color: #000000;
}

input:focus, select:focus {
  border-color: #00A88D;
  outline: none;
}
.form-group {
  margin-bottom: 10px;
  min-width: 0;
}
.allineaTasto{
  display: flex;
  justify-content: flex-end;
}

button {
  width: auto;
  padding: 12px;
  background-color: #00A88D;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;

}

button:hover {
  background-color: #035a4c;
}

.bordo-rosso {
  border: 1px solid red;
}

.bordo-rosso:focus {
  border-color: red;
  outline: none;
}

.bordo-rosso:hover {
  border-color: red;
}

.messaggioErrore {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
