<app-template-titolo-sottotitolo
  [titolo]="'Dashboard'"
  [sottotitolo]="'Ecco il riepilogo delle tue attività, tutto a portata di click.'">

  <div class="contenitore-dashboard">
    <div class="griglia-dashboard">

      <div class="cella-piena animazione-fade ritardo-1">
        <app-banner-home
          class="componente-blocco"
          [nomeDipendente]="nomeDipendente"
          (clickPrenotaVeicolo)="apriPrenotazioni()"
          (clickMiePrenotazioni)="apriMieAttivita()">
        </app-banner-home>
      </div>

      <div class="cella-doppia animazione-fade ritardo-4">
        <app-prossimo-viaggio
          class="componente-blocco"
          [viaggio]="prossimoViaggio">
        </app-prossimo-viaggio>
      </div>

      <div class="cella-singola animazione-fade ritardo-3">
        @if (statisticheDipendente) {
          <app-statistiche-dipendente
            class="componente-blocco"
            [statistiche]="statisticheDipendente">
          </app-statistiche-dipendente>
        }
      </div>

      <div class="cella-doppia animazione-fade ritardo-4">
        <div class="card-mappa">
          <app-mappa-hub [luoghiAzienda]="luoghiAzienda"></app-mappa-hub>
        </div>
      </div>

      <div class="cella-singola animazione-fade ritardo-5">
        <app-supporto-fleetgo
          class="componente-blocco"
          (apriModale)="gestisciVisibilita()">
        </app-supporto-fleetgo>
      </div>

    </div>
  </div>

</app-template-titolo-sottotitolo>

@if (modaleContattoVisibile) {
  <app-modale-richiesta-assistenza
    (chiudiModale)="gestisciVisibilita()"
    (inviaSegnalazione)="inviaSegnalazione($event)"
    [caricamentoDati]="caricamentoDati"
    (segnalaCategoriaCambiata)="caricaDatiContesto($event)"
    [categorieContatto]="categorieContatto"
    [listaOggettiDinamica]="listaOggettiDinamica"
    [listaOggettiDinamicaVisibile]="listaOggettiDinamicaVisibile">
  </app-modale-richiesta-assistenza>
}

@if (erroreBanner) {
  <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
}
@if (successoBanner) {
  <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
}
