
.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  position: relative;
}

.layout_no_log {
  flex-direction: column !important;
}


.sidebar_no_log {
  width: 100% !important;
  height: auto !important;
  border-right: none;
  overflow: visible;
}


.bottone {
  width: 100%;
  padding: 12px;
  background-color: #00A88D;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
