

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #03ac19;
  outline: none;
}


button {
  width: 100%;
  padding: 12px;
  background-color: #03ac19;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #226607;
}
