<div class="layout-container">
  <app-sidebar class="sidebar">
    <div class="contenitore-sidebar">
      <div class="contenitoreMenu">
        <ul>
          <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a routerLink="dipendenti" routerLinkActive="active">Dipendenti</a></li>
          <li><a routerLink="prenotazioni" routerLinkActive="active">Prenotazioni</a></li>
          <li><a routerLink="flotta" routerLinkActive="active">Flotta</a></li>
          <li><a routerLink="impostazioni" routerLinkActive="active">Impostazioni</a></li>
        </ul>
      </div>
    </div>
    <div class="contenitore-logout">
      <button class="logout" (click)="logout()">Logout</button>
    </div>
  </app-sidebar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
