
.bottone-elimina {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.bottone-elimina:hover {
  background-color: #cc0000;
}
