.contenitore-tabella {
  width: 100%;
  max-width: 100%; 
  margin-top: 30px; 
  padding: 30px;
  border-radius: 40px; 
  box-shadow: 0px 15px 15px rgba(0,0,0,0.3); 
  box-sizing: border-box;
}

h2 {
  text-align: left;
  color: #0b2559; 
  margin-bottom: 25px;
  font-size: large;
  font-weight: bold;
}

.tabella-semplice {
  width: 100%;
  border-collapse: collapse;
  border-radius: 40px;
}

.tabella-semplice th {
  color: #0b2559;
  padding: 15px;
  text-align: left;
  font-weight: bold;
}

.tabella-semplice td {
  padding: 15px;
  vertical-align: middle;
}


.tabella-semplice tbody tr:hover {
  background-color: #c2c2c2;
}

.bottone-elimina {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px; 
  cursor: pointer;
  transition: transform 0.2s;
}

.bottone-elimina:hover {
  background-color: #cc0000;
}