<header class="bg-blu h-[80px] flex items-center justify-between px-6 lg:px-10 shadow-lg top-0 z-50 relative">

  <div class="flex items-center scale-90 origin-left z-50 shrink-0 cursor-pointer">
    <app-logo
      (clickLogo)="clickLogo.emit()"
    >
    </app-logo>
  </div>

  <nav class="navigazione transition-all duration-300 border-l border-white/10"
       [class.mobile-open]="isSidebarOpen">

    <div class="xl:hidden flex justify-end p-4 mb-4">
      <button (click)="toggleSidebar()" class="text-white">
        <i class="bi-x-lg text-3xl"></i>
      </button>
    </div>

    <ng-content></ng-content>
  </nav>

  <button (click)="toggleSidebar()" class="xl:hidden text-white p-2 focus:outline-none z-50 ml-auto">
    @if (!isSidebarOpen) {
      <i class="bi bi-list text-4xl"></i>
    }
  </button>

  @if (isSidebarOpen) {
    <div (click)="toggleSidebar()"
         class="fixed inset-0 bg-black/50 z-40 xl:hidden">
    </div>
  }

</header>
