<div class="min-h-screen flex w-full bg-grigio">

  <div class="hidden lg:flex w-1/2 relative overflow-hidden">
    <div class="absolute inset-0 bg-gradient-to-br from-azzurro/60 to-blu-notte/90 z-10"></div>
    <img src="immagine_login.png" class="absolute inset-0 w-full h-full object-cover">

    <div class="relative z-20 flex flex-col justify-center h-full px-16 text-white">
      <h1 class="text-5xl font-bold mb-6">Bentornato!<br>Il futuro della tua flotta è qui.</h1>
      <p class="text-lg opacity-90 max-w-md leading-relaxed">
        Controlla veicoli, costi e manutenzioni da un unico pannello di controllo intelligente.
      </p>
    </div>

    <a routerLink="/"
       class="absolute bottom-10 left-10 z-30 flex items-center gap-3 text-white/70 hover:text-white transition-all group cursor-pointer">
      <div
        class="w-10 h-10 rounded-full border border-white/30 flex items-center justify-center group-hover:bg-grigio-scuro transition-all">
        <i class="bi-arrow-left text-lg"></i>
      </div>
      <span class="font-bold text-xs">TORNA INDIETRO</span>
    </a>
  </div>

  <div class="w-full lg:w-1/2 flex items-center justify-center p-6">

    <div class="bg-white rounded-2xl shadow-xl p-8 md:p-10 w-full max-w-[500px] border border-white">

      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-blu">Accedi</h2>
        <p class="text-grigio-scuro mt-2">Accedi al tuo profilo FleetGo</p>
      </div>

      <div class="space-y-5">

        <div class="flex flex-col gap-5">
          <app-input-checked
            titolo="Email Aziendale"
            type="email"
            placeholder="nome@azienda.it"
            [(valore)]="email"
            [haErrore]="mappaErrori.email"
            messaggioErrore="Inserisci una Email valida!"
            (suInput)="mappaErrori.email = false">
          </app-input-checked>

          <app-input-checked
            titolo="Password"
            type="password"
            placeholder="**********"
            [(valore)]="password"
            [haErrore]="mappaErrori.password"
            messaggioErrore="Inserisci una password valida!"
            (suInput)="mappaErrori.password = false">
          </app-input-checked>

        </div>

        <div class="flex justify-between items-center px-1">
          <div class="h-5 mb-1">
            @if (errore) {
              <span class="messaggioErrore">
          <i class="bi-exclamation-circle mr-1"></i> {{ errore }}
        </span>
            }
          </div>

          <button (click)="recuperoPassword()"
                  class="text-sm font-semibold hover:underline text-azzurro hover:text-azzurro-scuro">
            Password dimenticata?
          </button>
        </div>

        <button (click)="onSubmit()"
                class="w-full py-4 bg-azzurro text-white font-bold rounded-xl hover:bg-azzurro-scuro hover:shadow-lg flex justify-center items-center gap-2 mt-4">
          Accedi
        </button>

        <div class="text-center pt-6 border-t border-gray-100 mt-6">
          <p class="text-testo-s text-sm">
            Non hai un Account?
            <a routerLink="/registrazione"
               class="text-azzurro font-bold hover:underline hover:text-azzurro-scuro cursor-pointer">
              Crea un Account
            </a>
          </p>
        </div>

      </div>
    </div>

  </div>
</div>



