.barraSuperiore {
  background-color: #00A88D;
  color: black;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: bold;
  width: 100%;
}


.barraSuperiore ul {
  display: flex;
  gap: 20px;

}
.fontLogo{
  display: flex;
  color: white;
}

.go{
  color: #000000;
}

.bottoniAutenticazione{
  display: flex;
  margin-left: auto;
  gap: 20px;
}
.bottone{
  background-color: white;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

