.tabella-semplice {
  width: 100%;
  border-collapse: collapse;
  border-radius: 40px;
}

.tabella-semplice th {
  color: #0b2559;
  padding: 15px;
  text-align: left;
  font-weight: bold;
}

.tabella-semplice td {
  padding: 15px;
  vertical-align: middle;
}


.tabella-semplice tbody tr:hover {
  background-color: #c2c2c2;
}
