
.main-content {
  flex: 1;
  background-color: #f8f9fa;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-content-wrapper {
  flex: 1;
  padding-bottom: 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .contenitoreMenu a {
    font-size: 0.85rem;
  }

  .logout span {
    display: none;
  }
}
