<div class="page-container">

  <div class="page-header">
    <div class="header-texts">
      <h1>Nuova Prenotazione</h1>
      <p>Cerca il veicolo perfetto per la tua prossima trasferta.</p>
    </div>

    <div class="location-selector">
      <i class="bi bi-geo-alt"></i>

      <select [(ngModel)]="nomeLuogoSelezionato" (change)="clickCambioLuogo()">

        @for (luogo of listaLuoghi; track luogo.idLuogo) {
          <option [ngValue]="luogo.nomeLuogo">
            {{ luogo.nomeLuogo }}
          </option>
        }

      </select>
    </div>
  </div>
  <app-filtri-ricerca  (clickRicerca)="clickApplicaFiltri($event)"></app-filtri-ricerca>

  <div class="vehicles-grid">
    @for (auto of listaVeicoli; track auto.idVeicolo) {
      <app-veicolo-card [veicolo]="auto"></app-veicolo-card>
    }
  </div>

</div>
