<div class="flex flex-col w-full relative pb-4">

  @if (titolo) {
    <label class="text-[11px] font-bold ml-1 mb-0.5 uppercase tracking-wide transition-colors"
           [class.text-red-600]="haErrore"
           [class.text-slate-700]="!haErrore">
      {{ titolo }}
    </label>
  }


  <input [type]="type"
         [ngModel]="valore"
         (ngModelChange)="onModelChange($event)"
         [placeholder]="placeholder"
         class="w-full px-4 py-2.5 rounded-xl border outline-none transition-all"
         [class.border-red-500]="haErrore"
         [class.bg-red-50]="haErrore"
         [class.focus:ring-red-200]="haErrore"
         [class.focus:ring-4]="haErrore"
         [class.border-gray-200]="!haErrore"
         [class.bg-gray-50]="!haErrore"
         [class.focus:bg-white]="!haErrore"
         [class.focus:border-azzurro]="!haErrore"
         [class.focus:ring-azzurro/20]="!haErrore"
  [class.focus:ring-2]="!haErrore">

  @if (haErrore) {
    <span class="erroreInput">
      {{ messaggioErrore }}
    </span>
  }
</div>
