<div class="page-container">

  <div class="page-header">
    <h2>Le mie Prenotazioni</h2>
    <p>Gestisci lo storico e i futuri noleggi della flotta.</p>
  </div>

  <div class="filters-container">
    <button class="filter-pill active">Tutte</button>
    <button class="filter-pill">In Arrivo</button>
    <button class="filter-pill">Passate</button>
  </div>

  <div class="list-container">

    @if (prenotazioni.length > 0) {
      @for (prenotazione of prenotazioni; track prenotazione.idRichiesta) {
        <app-prenotazione-card [prenotazione]="prenotazione"></app-prenotazione-card>
      }
    }

    @else {
      <div class="empty-state">
        <div class="empty-img">
          <i class="bi bi-journal-x"></i>
        </div>
        <h3>Nessuna prenotazione trovata</h3>
        <p>Non hai ancora effettuato richieste di noleggio o lo storico è vuoto.</p>
        <button class="btn-primary"(click)="clickNuovaPrenotazione()" >Nuova Prenotazione</button>
      </div>
    }

  </div>
</div>
