.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 21px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.fontLogo {
  display: flex;
  color: white;
}

.go {
  @apply text-azzurro;
}
