.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  padding: 21px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: bold;

  font-size: 36px;
}
.fontLogo{
  display: flex;
  color: white;
}

.go{
 @apply text-azzurro;
}
