<h2>Flotta aziendale</h2>

  <div class="toolbar">

    <div class="ricerca">
      <input type="text" [(ngModel)]="filtroTarga" placeholder="Cerca per targa">
    </div>

    <div class="ricerca">
      <input type="text" [(ngModel)]="filtroModello" placeholder="Cerca per modello">
    </div>

    <div class="filtri">
      <select [(ngModel)]="filtroStato">
        <option [ngValue]="''">Tutti gli stati</option>
        <option value="Disponibile">Disponibile</option>
        <option value="In manutenzione">In manutenzione</option>
        <option value="Noleggiato">Noleggiato</option>
      </select>
    </div>

  </div>

<table class="tabella-semplice">
  <thead>
  <tr>
    <th>Targa</th>
    <th>Modello</th>
    <th>Stato contrattuale</th>
    <th>Stato veicolo</th>
    <th>Info</th>
  </tr>
  </thead>
  <tbody>

    @for (auto of veicoliFiltrati; track auto.idVeicolo) {
      <tr>
        <td>{{ auto.targaVeicolo }}</td>
        <td>{{ auto.modello }}</td>
        <td>{{ auto.statusContrattualeVeicolo }}</td>
        @if (auto.inManutenzione) {
          <td>"In manutenzione"</td>
        } @else if (!auto.inManutenzione){
          <td>"Ok"</td>
        }


        <td><button class="bottone-rimuovi" (click)="apriGestioneVeicolo.emit(auto.targaVeicolo)">Gestisci veicolo</button></td>
      </tr>
    }

  </tbody>
</table>

