.layout-due-colonne {
  display: flex;
  gap: 20px;
}

.colonna {
  flex: 1;
  padding: 20px;
  border-radius: 15px;

}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #00A88D;
  outline: none;
  background-color: #ffffff;
}


.bordo-rosso {
  border: 1px solid red;
  background-color: #ffffff;
}

.messaggioErrore {
  color: red;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}


.allineaTasto {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

button {
  background-color: #00A88D;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.2s;
}

button:hover {
  background-color: #035a4c;
}

@media (max-width: 900px) {
  .layout-due-colonne {
    flex-direction: column;
  }
}
