<div class="w-full bg-white rounded-xl shadow-md p-6">
  <div class="flex flex-col md:flex-row justify-between items-center mb-2 pb-3 gap-4 border-b-2 border-b-gray-100">
    <h2 class="font-bold text-xl text-testo-p">Elenco Fatture</h2>

    <div class="flex gap-7">
      <app-scelta-tendina (valoreChange)="annoSelezionato=$event; aggiornaFatture()" [lista]="anniFatture"
                          [valore]="annoSelezionato"></app-scelta-tendina>

      <app-scelta-tendina (valoreChange)="aziendaSelezionata=$event; aggiornaFatture()" [lista]="listaAziende"
                          [valore]="aziendaSelezionata" [placeholder]="'Tutte le aziende'"
                          [chiaveVisuale]="'nomeAzienda'" [chiaveUtilizzata]="'nomeAzienda'">
      </app-scelta-tendina>
    </div>
  </div>
  @if (fatture == null) {
    <div class="flex flex-col items-center justify-center py-20 w-full min-h-[400px]">
      <div class="relative">
        <i class="bi bi-arrow-clockwise text-4xl text-slate-300 animate-spin inline-block"></i>
      </div>
    </div>

  } @else {
    @if (fatture.length > 0) {
      <div class="div-table max-h-[700px] min-h-[400px]">
        <table class="table-base">
          <thead>
          <tr class="text-left text-testo-s">
            <th scope="col" class="pl-6 cursor-pointer" (click)="sortColonna('numeroFattura')">N. Fattura<i
              class="bi bi-arrow-down-up ml-1"></i></th>
            <th scope="col" class="text-center">Azienda</th>
            <th scope="col" class="text-center">Periodo</th>
            <th scope="col" (click)="sortColonna('costo')" class="cursor-pointer text-center">Importo<i
              class="bi bi-arrow-down-up ml-1"></i></th>
            <th scope="col" (click)="sortColonna('fatturaPagata')" class="cursor-pointer text-center">Stato<i
              class="bi bi-arrow-down-up ml-1"></i></th>
            <th scope="col" class="pr-8 text-right text-center">Azioni</th>
          </tr>
          </thead>
          <tbody [@animazioneTabella]="fatture.length">
            @for (fattura of fatture; track fattura.numeroFattura) {
              <tr class="group tr-inferiore ">
                <td class="td-sinistro">
                  <span class="">#{{ fattura.numeroFattura }}</span>
                </td>
                <td class="td-base">
                  {{ fattura.azienda.nomeAzienda }}
                </td>
                <td class="td-base">
                  {{ nomiMesi[fattura.meseFattura] }}
                </td>
                <td class="td-base">{{ fattura.costo | currency:'EUR':'symbol':'1.2-2' }}</td>
                <td class="td-base">
                  @if (fattura.fatturaPagata) {
                    <span class="font-bold text-azzurro">Pagata</span>
                  } @else {
                    <span class="font-bold text-blu">In Attesa</span>
                  }
                </td>
                <td class="td-destro">
                  <div class="inline-flex justify-end w-full ml pr-2">
                    <app-bottone-chiaro (click)="onDownload(fattura.numeroFattura)" title="Scarica PDF">
                      <span>Scarica</span>
                      <i class="bi bi-file-earmark-pdf-fill"></i>
                    </app-bottone-chiaro>
                  </div>
                </td>
              </tr>
            }
          </tbody>

        </table>
      </div>
    } @else {
      <div class="w-full flex justify-center items-center group min-h-[300px]">
        <app-messaggio-card-vuota testoPrimario="Nessuna fattura trovata!" testoSecondario="Prova a cambiare i filtri"
                                  icona="bi-folder-x" tagliaIcona="xl"></app-messaggio-card-vuota>
      </div>
    }
  }
</div>
