<app-template-titolo-sottotitolo 
  [titolo]="'Dati Personali'">
  
  <div class="p-6">
    
    <form (ngSubmit)="salva()" class="space-y-6">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        
        <div class="w-full">
          <app-input-checked
            [titolo]="'NOME'"
            [type]="'text'"
            [(valore)]="datiForm.nome"
            [haErrore]="erroreNome"
            [messaggioErrore]="'Campo obbligatorio'">
          </app-input-checked>
        </div>

        <div class="w-full">
          <app-input-checked
            [titolo]="'COGNOME'"
            [type]="'text'"
            [(valore)]="datiForm.cognome"
            [haErrore]="erroreCognome"
            [messaggioErrore]="'Campo obbligatorio'">
          </app-input-checked>
        </div>

      </div>

      <div class="w-full">
         <app-input-checked
            [titolo]="'EMAIL'"
            [type]="'email'"
            [(valore)]="datiForm.email"
            [haErrore]="erroreEmail"
            [messaggioErrore]="'Email obbligatoria o non valida'">
          </app-input-checked>
      </div>

      <div class="flex justify-end pt-2 border-t border-slate-50 mt-8">
        <button type="submit"
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded-xl transition-all active:scale-95 flex items-center gap-2">
          <i class="bi-check-lg text-lg"></i>
          Salva Modifiche
        </button>
      </div>

    </form>

  </div>

  @if (erroreBanner) {
    <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
  }
  @if (successoBanner) {
    <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
  }

</app-template-titolo-sottotitolo>