@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .card-dashboard {
    @apply bg-white transition-all duration-300 hover:shadow-xl hover:-translate-y-1 hover:border-azzurro  font-bold text-lg space-y-4 border-2 border-grigio rounded-2xl p-5 shadow-md shrink-0
  }


  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

  .caricamento{
    @apply text-3xl text-slate-300 animate-spin
  }


  .ricerca-testo{
    @apply  flex bg-white px-2 py-1 rounded-xl border border-gray-50 h-8 focus-within:border-azzurro-scuro hover:border-azzurro-scuro
  }

  .div-table {
    @apply relative overflow-x-auto overflow-y-auto;
  }


  .table-base{
    @apply w-full text-sm text-left text-gray-500 border-separate border-spacing-y-2 ;
  }

  .tr-inferiore{
    @apply drop-shadow-sm transition-all duration-300 text-testo-p ;
  }

  .tr-superiore{
    @apply text-center text-testo-s sticky top-0 bg-white z-20;
  }

  .td-base {
    @apply py-3 bg-grigio align-middle text-center transition-colors group-hover:bg-azzurro/10;
  }

  .td-destro{
    @apply py-3 pl-6 bg-grigio rounded-r-2xl group-hover:bg-azzurro/10 transition-colors align-middle
  }

  .td-sinistro{
    @apply py-3 pl-6 bg-grigio rounded-l-2xl group-hover:bg-azzurro/10 transition-colors align-middle
  }


  .messaggioErrore {
    @apply text-[11px] text-red-500 font-bold uppercase animate-in fade-in
  }

  .erroreInput{
    @apply text-[10px] text-red-500 ml-1 italic absolute bottom-0 left-0 leading-none animate-in fade-in slide-in-from-left-1
  }




  .badge-rifiuto{
    @apply text-xs bg-red-100 text-red-600 px-2 py-[4px] rounded-md
  }
  .badge-accetto{
    @apply text-xs bg-green-100  text-green-600 px-2 py-[4px] rounded-md
  }

  .messaggioModaleConferma{
    @apply text-gray-600 px-6 flex mt-3 mb-3;
  }

  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 0;
  }
}
