@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  color: #00A88D;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;;
}

h3 {
  text-align: center;
  color: #00A88D;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: bold;;
}


.titolo-pagina {
  font-weight: bold;
  font-size: 25pt;
  color: #0b2559;
  margin-bottom: 20px;
}


.form-riga {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}


input:hover {
  border-color: #000000;
}


input:focus {
  border-color: #00A88D;
  outline: none;
  background-color: #ffffff;
}


.button-primary {
  background-color: #00A88D;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #035a4c;
}

.allinea-destra {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.bordo-rosso {
  border: 1px solid red;
}
