@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  overflow-y: auto;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  color: #00A88D;
  margin-bottom: 25px;
  font-size: large;
  font-weight: bold;;
}


