<app-banner-hero></app-banner-hero>

<app-chi-siamo id="chi-siamo"></app-chi-siamo>

<app-come-funziona id="come-funziona"></app-come-funziona>

<app-vantaggi id="vantaggi"></app-vantaggi>

<app-form-contatto
  [titolo]="'Contattaci'"
  [sottotitolo]="'Siamo qui per rispondere a tutte le tue domande.'"
  [modalita]="'PUBLIC'"
  
  [invioInCorso]="invioInCorso"
  [messaggioInviato]="messaggioInviato"
  [erroreInvio]="erroreInvio"
  
  (inviaForm)="gestisciInvioMessaggio($event)" 
  (resetStato)="resetStatoForm()">
</app-form-contatto>


@if (erroreBanner) {
  <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
}
@if (successoBanner) {
  <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
}