<app-template-finestra-modale (chiudi)="chiudiModale()" (conferma)="confermaGenerazioneFattura()"
                              (annulla)="chiudiModale()" titolo="Emetti fattura" tastoBianco="Annulla"
                              tastoBlu="Emetti">
  <div class="px-6 py-3 space-y-4 text-testo-p">
    <div class="bg-grigio rounded-xl shadow-md p-4 flex justify-between items-center ">
      <div>
        <p class="text-xl font-bold"> {{ fattura.nomeAzienda }}</p>
      </div>

      <div>
        <p class="text-xs font-bold uppercase text-gray-400 tracking-wide">Mese</p>
        <p class="text-xs font-bold">{{ fattura.mese }}/{{ fattura.anno }}</p>
      </div>

    </div>
    <div class="border-b-2 py-3">
      <div class=" gap-3">
        <label class="font-bold pb-3">Promozione: </label>
        <app-scelta-tendina (valoreChange)="offertaSelezionata=$event; calcolaSconto()" [lista]="offerteAttive"
                            [valore]="offertaSelezionata" [placeholder]="'Nessuna offerta attiva'"
                            [chiaveVisuale]="'nomeOfferta'"></app-scelta-tendina>
      </div>

      @if (offertaSelezionata) {
        <div class="bg-azzurro/10 px-3 py-1 w-fit rounded-xl gap-3 flex items-center">
          <i class="bi bi-info-circle text-s text-azzurro-scuro"></i>
          <small>{{ offertaSelezionata.descrizioneOfferta }}</small>
        </div>
      }
    </div>

    <div class="mr-3">
      <div class="flex justify-between">
        <span>Consumo:</span>
        <span> € {{ fattura.costoTotale | number:'1.2-2' }}</span>
      </div>

      @if (offertaSelezionata) {
        <div class="text-green-600 py-3 text-xs font-bold flex justify-between">
          <span>Sconto ({{ offertaSelezionata.percentualeSconto }}%): </span>
          <span>- € {{ scontoDaSottrarre | number:'1.2-2' }}</span>
        </div>
      }

      <div class="text-s text-testo-p mt-3 flex justify-between">
        <span class="font-bold ">Totale da Fatturare: </span>
        <span>€ {{ prezzoScontato | number:'1.2-2' }}</span>
      </div>
    </div>

  </div>


</app-template-finestra-modale>
