<app-template-finestra-modale
  [titolo]="'Richiesta Assistenza'"
  [sottotitolo]="'Apri un ticket per ricevere supporto'"
  [larghezza]="'max-w-xl'"
  [tastoBianco]="'Annulla'"
  [tastoBlu]="'Invia Segnalazione'"
  (chiudi)="chiudiModale.emit()"
  (annulla)="chiudiModale.emit()"
  (conferma)="invio()"> <div class="flex flex-col gap-6">

    <div class="w-full">
      <app-scelta-tendina
        [titolo]="'CATEGORIA'"
        [lista]="categorieContatto"
        [placeholder]="'Seleziona il tipo di problema'"
        [valore]="categoriaSelezionata"
        [haErrore]="erroreCategoria"
        [messaggioErrore]="'Seleziona una categoria'"
        (valoreChange)="cambioCategoria($event)"> </app-scelta-tendina>
    </div>

    @if(listaOggettiDinamicaVisibile) {
      <div class="w-full animate-fade-in">

        @if(caricamentoDati) {
          <div class="w-full">
            <div class="h-3 w-32 bg-slate-100 rounded mb-1.5 animate-pulse ml-1"></div>
            
            <div class="h-[46px] w-full bg-slate-50 border border-slate-200 rounded-xl flex items-center justify-center text-slate-400 gap-2">
               <i class="bi bi-arrow-repeat animate-spin text-xl text-blue-500"></i>
               <span class="text-xs font-medium">Caricamento...</span>
            </div>
          </div>

        } @else {
          <app-scelta-tendina
            [titolo]="'RIFERIMENTO NOLEGGIO'"
            [lista]="listaOggettiDinamica"
            [chiaveVisuale]="'labelVisuale'"
            [chiaveUtilizzata]="'labelVisuale'"
            [placeholder]="'Seleziona il noleggio interessato'"
            [valore]="oggettoSelezionato"
            [haErrore]="erroreOggetto"
            [messaggioErrore]="'Seleziona un riferimento'"
            (valoreChange)="cambioOggetto($event)">
          </app-scelta-tendina>
        }
      </div>
    }

    <div class="w-full">
      <app-input-checked
        [titolo]="'MESSAGGIO'"
        [type]="'text'"
        [placeholder]="'Descrivi il problema riscontrato...'"
        [(valore)]="messaggio"
        [haErrore]="erroreMessaggio"
        [messaggioErrore]="'Il messaggio è obbligatorio'">
      </app-input-checked>
    </div>

  </div>

</app-template-finestra-modale>

@if (erroreBanner) {
    <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
  }
  @if (successoBanner) {
    <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
  }