
.register-container {
  width: 100%;
  max-width: 400px;     
  margin: 50px auto;   
  padding: 30px;          
  background-color: rgb(255, 255, 255);
  border-radius: 40px;  
  box-shadow: 0px 15px 15px rgba(0,0,0,0.3); 
}


h2 {
  text-align: center;     
  color: #03ac19;         
  margin-bottom: 25px;
  font-size: large;
  font-weight: bold;;
}

.form-group {
  margin-bottom: 20px;    
}

label {
  display: block;        
  margin-bottom: 8px;     
  font-weight: bold;
  color: #000000;
}


input {
  width: 100%;           
  padding: 10px;          
  border: 1px solid #ddd; 
  border-radius: 10px;    
  box-sizing: border-box; 

}

input:hover {
  border-color: #000000;    
}

input:focus {
  border-color: #03ac19;
  outline: none;  
}


button {
  width: 100%;
  padding: 12px;
  background-color: #03ac19; 
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;       
  margin-top: 10px;
}

button:hover {
  background-color: #226607; 
}