<app-form-recupero-password
  [step]="stepCorrente"
  [errorePadre]="errore"
  [messaggio]="messaggio"
  (chiamaOtp)="inviaRichiestaOtp($event)"
  (cambiaPass)="cambiaPassword($event)"
  (tornaIndietro)="tornaIndietroPerCambioEmail()">
</app-form-recupero-password>

@if (erroreBanner) {
  <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
}
@if (successoBanner) {
  <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
}
