<div class="min-h-screen flex w-full bg-grigio">

  <div class="hidden lg:flex w-1/2 relative overflow-hidden">
    <div class="absolute inset-0 bg-gradient-to-br from-azzurro/60 to-blu-notte/90 z-10"></div>
    
    <img src="immagine_registrazione.avif" 
         alt="Registrazione FleetGo" 
         class="absolute inset-0 w-full h-full object-cover">
    
    <div class="relative z-20 flex flex-col justify-center h-full px-16 text-white">
      <h1 class="text-5xl font-bold mb-6">Benvenuto!<br>Unisciti a FleetGo.</h1>
      <p class="text-lg opacity-90 max-w-md leading-relaxed">
        Crea il tuo account in pochi secondi e accedi alla piattaforma di gestione flotte più semplice di sempre.
      </p>
    </div>



      <a routerLink="/" class="absolute bottom-10 left-10 z-30 flex items-center gap-3 text-white/70 hover:text-white transition-all group cursor-pointer">
      <div class="w-10 h-10 rounded-full border border-white/30 flex items-center justify-center group-hover:bg-grigio-scuro transition-all">
         <i class="bi-arrow-left text-lg"></i>
      </div>
      <span class="font-bold text-xs">TORNA INDIETRO</span>
    </a>






  </div>


  <div class="w-full lg:w-1/2 flex items-center justify-center p-6 py-12"> <div class="bg-white rounded-2xl shadow-xl p-8 md:p-10 w-full max-w-[600px] border border-white">
      
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-blu">Registrati</h2>
        <p class="text-grigio-scuro mt-2">Compila i dati per registrarti</p>
      </div>

      <div class="space-y-4"> <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          
          <div class="space-y-1">
            <label class="text-xs font-bold text-black uppercase">Nome</label>
            <input type="text" 
                   [(ngModel)]="nome" name="nome" placeholder="Kristian"
                   class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all"
                   [class.border-red-500]="mappaErrori.nome"
                   [class.bg-red-50]="mappaErrori.nome"
                   [class.focus:ring-red-200]="mappaErrori.nome"
                   [class.focus:ring-4]="mappaErrori.nome"
                   [class.border-gray-200]="!mappaErrori.nome"
                   [class.focus:bg-white]="!mappaErrori.nome"
                   [class.focus:border-azzurro]="!mappaErrori.nome"
                   [class.focus:ring-azzurro]="!mappaErrori.nome"
                   [class.focus:ring-1]="!mappaErrori.nome">
            @if (mappaErrori.nome) { <p class="text-red-500 text-xs mt-1 font-medium">Campo obbligatorio!</p> }
          </div>

          <div class="space-y-1">
            <label class="text-xs font-bold text-black uppercase">Cognome</label>
            <input type="text" 
                   [(ngModel)]="cognome" name="cognome" placeholder="Reale"
                   class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all"
                   [class.border-red-500]="mappaErrori.cognome"
                   [class.bg-red-50]="mappaErrori.cognome"
                   [class.focus:ring-red-200]="mappaErrori.cognome"
                   [class.focus:ring-4]="mappaErrori.cognome"
                   [class.border-gray-200]="!mappaErrori.cognome"
                   [class.focus:bg-white]="!mappaErrori.cognome"
                   [class.focus:border-azzurro]="!mappaErrori.cognome"
                   [class.focus:ring-azzurro]="!mappaErrori.cognome"
                   [class.focus:ring-1]="!mappaErrori.cognome">
            @if (mappaErrori.cognome) { <p class="text-red-500 text-xs mt-1 font-medium">Campo obbligatorio!</p> }
          </div>

        </div>

        <div class="space-y-1">
          <label class="text-xs font-bold text-black uppercase">Email</label>
          <input type="email" 
                 [(ngModel)]="email" name="email" placeholder="nome@azienda.it"
                 class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all"
                 [class.border-red-500]="mappaErrori.email"
                 [class.bg-red-50]="mappaErrori.email"
                 [class.focus:ring-red-200]="mappaErrori.email"
                 [class.focus:ring-4]="mappaErrori.email"
                 [class.border-gray-200]="!mappaErrori.email"
                 [class.focus:bg-white]="!mappaErrori.email"
                 [class.focus:border-azzurro]="!mappaErrori.email"
                 [class.focus:ring-azzurro]="!mappaErrori.email"
                 [class.focus:ring-1]="!mappaErrori.email">
          @if (mappaErrori.email) { <p class="text-red-500 text-xs mt-1 font-medium">Campo obbligatorio!</p> }
        </div>

        <div class="space-y-1">
          <label class="text-xs font-bold text-black uppercase">Password</label>
          <input type="password" 
                 [(ngModel)]="password" name="password" placeholder="••••••••"
                 class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all"
                 [class.border-red-500]="mappaErrori.password"
                 [class.bg-red-50]="mappaErrori.password"
                 [class.focus:ring-red-200]="mappaErrori.password"
                 [class.focus:ring-4]="mappaErrori.password"
                 [class.border-gray-200]="!mappaErrori.password"
                 [class.focus:bg-white]="!mappaErrori.password"
                 [class.focus:border-azzurro]="!mappaErrori.password"
                 [class.focus:ring-azzurro]="!mappaErrori.password"
                 [class.focus:ring-1]="!mappaErrori.password">
          @if (mappaErrori.password) { <p class="text-red-500 text-xs mt-1 font-medium">Campo obbligatorio!</p> }
        </div>

        <div class="space-y-1">
          <label class="text-xs font-bold text-black uppercase">Conferma Password</label>
          <input type="password" 
                 [(ngModel)]="ripetiPassword" name="ripetiPassword" placeholder="**********"
                 class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all"
                 [class.border-red-500]="mappaErrori.ripetiPassword"
                 [class.bg-red-50]="mappaErrori.ripetiPassword"
                 [class.focus:ring-red-200]="mappaErrori.ripetiPassword"
                 [class.focus:ring-4]="mappaErrori.ripetiPassword"
                 [class.border-gray-200]="!mappaErrori.ripetiPassword"
                 [class.focus:bg-white]="!mappaErrori.ripetiPassword"
                 [class.focus:border-azzurro]="!mappaErrori.ripetiPassword"
                 [class.focus:ring-azzurro]="!mappaErrori.ripetiPassword"
                 [class.focus:ring-1]="!mappaErrori.ripetiPassword">
          @if (mappaErrori.ripetiPassword) { <p class="text-red-500 text-xs mt-1 font-medium">Le password non coincidono!</p> }
        </div>

        <div class="space-y-1">
          <label class="text-xs font-bold text-black uppercase">Data di Nascita</label>
          <input type="date" 
                 [(ngModel)]="datanascita" name="datanascita"
                 class="w-full px-4 py-3 rounded-xl border bg-gray-50 outline-none transition-all text-gray-500"
                 [class.border-red-500]="mappaErrori.datanascita"
                 [class.bg-red-50]="mappaErrori.datanascita"
                 [class.focus:ring-red-200]="mappaErrori.datanascita"
                 [class.focus:ring-4]="mappaErrori.datanascita"
                 [class.border-gray-200]="!mappaErrori.datanascita"
                 [class.focus:bg-white]="!mappaErrori.datanascita"
                 [class.focus:border-azzurro]="!mappaErrori.datanascita"
                 [class.focus:ring-azzurro]="!mappaErrori.datanascita"
                 [class.focus:ring-1]="!mappaErrori.datanascita">
          @if (mappaErrori.datanascita) { <p class="text-red-500 text-xs mt-1 font-medium">Campo obbligatorio!</p> }
        </div>

        <div class="space-y-1">
          <label class="text-xs font-bold text-black uppercase">Patente (Fronte-Retro)</label>
          <input type="file" 
                 (change)="onFileSelected($event)" name="patente"
                 class="w-full text-sm text-grigio-scuro
                        file:mr-4 file:py-2.5 file:px-4
                        file:rounded-lg file:border-0
                        file:text-sm file:font-semibold
                        file:bg-azzurro/10 file:text-azzurro
                        hover:file:bg-azzurro/20 file:transition-colors
                        border border-gray-200 rounded-xl bg-gray-50 outline-none px-2 py-2"
                 [class.border-red-500]="mappaErrori.patente"
                 [class.bg-red-50]="mappaErrori.patente">
          @if (mappaErrori.patente) { <p class="text-red-500 text-xs mt-1 font-medium">Carica un documento valido!</p> }
        </div>

        @if (errore) {
          <div class="text-red-600">
            <span>{{errore}}</span>
          </div>
        }

        <button (click)="onRegistrazione()" 
                class="w-full py-4 bg-azzurro text-white font-bold rounded-xl hover:bg-azzurro-scuro hover:shadow-lg flex justify-center items-center gap-2 mt-2 transition-all">
          Registrati
        </button>

        <div class="text-center pt-4 border-t border-gray-100 mt-4">
          <p class="text-grigio-scuro text-sm">
            Hai già un account? 
            <a routerLink="/login" class="text-azzurro font-bold hover:underline hover:text-azzurro-scuro cursor-pointer">
              Accedi
            </a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>