.form-autenticazione{
  max-width: 400px;
  width: 100%;
  margin: auto;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  color: #00A88D;
  margin-bottom: 25px;
  font-size: large;
  font-weight: bold;;
}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #00A88D;
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #00A88D;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #035a4c;
}

.bordo-rosso {
  border: 1 px solid red;
}

.bordo-rosso:focus {
  border-color: red;
  outline: none;
}

.bordo-rosso:hover {
  border-color: red;
}

.messaggioErrore {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
