<app-template-finestra-modale
  #modale
  [titolo]="'Richiesta Assistenza'"
  [sottotitolo]="'Apri un ticket per ricevere supporto'"
  [larghezza]="'max-w-xl'"
  [tastoBianco]="'Annulla'"
  [tastoBlu]="'Invia Segnalazione'"
  (chiudi)="chiudi()"
  (annulla)="chiudi()"
  (conferma)="invio()">

  <div class="flex flex-col gap-6 px-4 py-6">
    <div class="w-full">
      <app-scelta-tendina
        [titolo]="'CATEGORIA'"
        [lista]="categorieContatto"
        [placeholder]="'Seleziona il tipo di problema'"
        [valore]="categoriaSelezionata"
        [haErrore]="erroreCategoria"
        [messaggioErrore]="'Seleziona una categoria'"
        (valoreChange)="cambioCategoria($event)"></app-scelta-tendina>
    </div>

    @if (listaOggettiDinamicaVisibile) {
      <div class="w-full animate-fade-in">
        @if (caricamentoDati) {
          <div class="w-full">
            <div class="rounded mb-1.5 animate-pulse ml-1"></div>

            <div class="flex items-center justify-center h-full">
              <i class="caricamento bi bi-arrow-clockwise"></i>
            </div>

          </div>

        } @else {
          <app-scelta-tendina
            [titolo]="'RIFERIMENTO NOLEGGIO'"
            [lista]="listaOggettiDinamica"
            [chiaveVisuale]="'labelVisuale'"
            [chiaveUtilizzata]="'labelVisuale'"
            [placeholder]="'Seleziona il noleggio interessato'"
            [valore]="oggettoSelezionato"
            [haErrore]="erroreOggetto"
            [messaggioErrore]="messaggioErroreOggetto"
            (valoreChange)="cambioOggetto($event)">
          </app-scelta-tendina>
        }
      </div>
    }

    <div class="w-full">
      <app-input-checked
        [titolo]="'MESSAGGIO'"
        [type]="'text'"
        [placeholder]="'Descrivi il problema riscontrato...'"
        [(valore)]="messaggio"
        [haErrore]="erroreMessaggio"
        [messaggioErrore]="'Il messaggio è obbligatorio'">
      </app-input-checked>
    </div>

  </div>
</app-template-finestra-modale>
