<app-template-titolo-sottotitolo
  titolo="Bentornato {{nomeECognomeAdmin}}"
  sottotitolo="Ecco il riepilogo delle attività e lo stato della tua flotta."
  [testoDestro]="nomeAziendaGestita">

  <div class="griglia-superiore">

    <div class="card-notifiche">
      <div class="intestazione-card">
        <h3 class="titolo-sezione">
          <span class="barra-decorativa azzurra"></span>
          Centro Notifiche e Richieste
        </h3>

        @if (sommaRichieste > 0) {
          <div class="wrapper-badge">
            <span class="animazione-ping"></span>
            <div class="badge-conteggio">
              {{ sommaRichieste }}
            </div>
          </div>
        }
      </div>
      <div class="contenitore-carosello animazione-fade-left">
        <app-carosello-richieste-miste
          [contatoreRichiesteAffiliazioneInAttesa]="contatoreRichiesteAffiliazione"
          [contatoreRichiesteNoleggioInAttesa]="contatoreRichiesteNoleggio"
          [contatoreFattureDaPagare]="contatoreFattureDaPagare">
        </app-carosello-richieste-miste>
      </div>
    </div>

    <div class="colonna-grafico">
      <app-grafico-torta-flotta
        [inUso]="veicoliInUso"
        [disponibili]="veicoliDisponibili"
        [inManutenzione]="veicoliInManutenzione">
      </app-grafico-torta-flotta>
    </div>
  </div>

  <div class="griglia-inferiore">

    <div class="colonna-statistiche">
      <div class="wrapper-contenuto-statistiche">

        <h3 class="titolo-sezione margine-titolo">
          <span class="barra-decorativa blu"></span>
          Statistiche Rapide
        </h3>
        <div class="lista-card-statistiche">
          <app-card-statistiche-dashboard-fleet
            titolo="Spesa Mensile"
            [valore]="(statisticheGuadagno | currency:'EUR':'symbol':'1.2-2')!"
            descrizione="Costi flotta del mese"
            icona="bi-wallet2">
          </app-card-statistiche-dashboard-fleet>

          <app-card-statistiche-dashboard-fleet
            (click)="navigaFlottaSenzaLuogo()"
            titolo="Veicoli senza luogo"
            [valore]="statisticheFlotta"
            descrizione="Asssegna un luogo per attivare i veicoli"
            icona="bi-car-front">
          </app-card-statistiche-dashboard-fleet>
        </div>
      </div>
    </div>

    <div class="colonna-offerte">
      <h3 class="titolo-sezione margine-titolo">
        <span class="barra-decorativa grigia"></span>
        Offerte Attive
      </h3>
      <div class="wrapper-carosello-offerte">
        <div class="card-offerte animazione-fade-left">
          <app-carosello-offerte
            [offerte]="offerteAttive"
            (offertaSelezionata)="apriModaleRichiestaAppuntamento($event)">
          </app-carosello-offerte>
        </div>
      </div>
    </div>

  </div>
</app-template-titolo-sottotitolo>

@if (modaleAppuntamentoVisibile) {
  <app-modale-richiesta-appuntamento
    [offertaSelezionata]="offertaSelezionata"
    [appuntamentoRichiesto]="richiesteContattoInCorso.has(offertaSelezionata.idOfferta)"
    (chiudiPagina)="chiudiModaleRichiestaAppuntamento()"
    (richiediAppuntamento)="richiediAppuntamento()">
  </app-modale-richiesta-appuntamento>
}

@if (nessunaSedeImpostata) {
  <app-modale-obbligo-impostazione-sede
    (impostaSede)="impostaSede($event)">
  </app-modale-obbligo-impostazione-sede>
}

@if (erroreBanner) {
  <app-banner-errore [errore]="erroreBanner" (chiudi)="erroreBanner=''"></app-banner-errore>
}
@if (successoBanner) {
  <app-banner-errore [successo]="successoBanner" (chiudi)="successoBanner=''"></app-banner-errore>
}
