<app-sidebar>   
    <a routerLink="/dashboardFleetGo/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/dashboardFleetGo/aziende" routerLinkActive="active">Aziende Affiliate</a>
      <a routerLink="/dashboardFleetGo/fatturazione" routerLinkActive="active">Fatturazione & Ricavi</a>
      <a routerLink="/dashboardFleetGo/flotta" routerLinkActive="active">Flotta Globale</a>
      <a routerLink="/dashboardFleetGo/impostazioni" routerLinkActive="active">Impostazioni</a>
</app-sidebar>

